body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
   
}

.main-container {
    display: flex;
   
}

/* Faixa preta lateral */
.sidebar {
    background-color: rgb(9, 48, 121);
    width: 5%;
}

/* Coluna da esquerda */
.left {
    width: 35%;
    background-color: #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espaço entre as seções */
}

.perfil {
    
    width: 400px;
    height: 400px;
    position: left;
    border-radius: 300%;
    object-fit: cover;
}

.profile-section {
    text-align: center;
    
}

.contact,
.languages,
.skills {
    
    width: 100%;
    background: #ebecf7;
    
    
}

.languages, .skills {
    padding: 20px 20px 20px 12%; 
    text-align: left; 
}



.iconwhatsapp,
.iconlinkedin,
.iconemail,
.iconinstagram{
    display: flex;
    align-items: center;
    padding-left: 12%;
    padding-top: 4%;
    
}
   
.icon {
    
    width: 30px;
    height: 30px;
    margin-right: 10px;
}



/* Metade direita */
.right {
    width: 60%;
    background-color: #bbb;
    padding: 200px;
    font-style: italic;
    }
